<nav class="category-filter">
  <button (click)="setCategory('')">Tous</button>
  <button (click)="setCategory('Movie')">Films</button>
  <button (click)="setCategory('TVshow')">Séries</button>
  <button (click)="setCategory('VideoGame')">Jeux Vidéos</button>
  <button (click)="setCategory('Music')">Musique</button>
  <button (click)="setCategory('Book')">Livres</button>
  <button (click)="setCategory('YoutubeVideo')">Vidéos YouTube</button>
</nav>

<div class="recommendations-grid">
  <div *ngFor="let recommendation of recommendations" class="elementWrapper">
    <div class="element">
      <div class="recommendation-title">{{ recommendation.name }}</div>
      <div class="recommendation-description">
        {{ recommendation.description }}
      </div>
      <div class="recommendation-details">
        Par {{ recommendation.author }}, le
        {{ recommendation.recommendationDate | date : "mediumDate" }}
      </div>
      <button *ngIf="recommendation.id" (click)="deleteRecommendation(recommendation.id!)">
        Supprimer
      </button>
    </div>
  </div>
</div>

<button id="showFormButton" (click)="toggleForm()">
  Ajouter une recommandation
</button>

<form
  id="addForm"
  (ngSubmit)="addRecommendation()"
  [style.display]="showForm ? 'block' : 'none'"
>
  <h2>Qu'est ce que tu as vu, ou lu de bien ?</h2>
  <select [(ngModel)]="newRecommendation.category" name="category">
    <option value="Movie">Film</option>
    <option value="TVshow">Série TV</option>
    <option value="VideoGame">Jeu Vidéo</option>
    <option value="Book">Livre</option>
    <option value="Music">Musique</option>
    <option value="YoutubeVideo">Vidéo YouTube</option>
  </select>
  <input
    type="text"
    [(ngModel)]="newRecommendation.name"
    name="name"
    placeholder="Nom"
  />
  <input
    type="text"
    [(ngModel)]="newRecommendation.description"
    name="description"
    placeholder="Description"
  />
  <input
    type="text"
    [(ngModel)]="newRecommendation.author"
    name="author"
    placeholder="Auteur"
  />
  <button type="submit">Ajouter</button>
</form>

<!-- <button (click)="addRecommendation()">Ajouter une recommandation</button> -->
<router-outlet></router-outlet>
