<div class="columns-container">
  <div class="column">
    <h3>Films</h3>
    <div class="element" *ngFor="let recommendation of movies">
      <p id="elementTitle">{{ recommendation.name }}</p>
      <p>{{ recommendation.description }}</p>
      <p id="dateAndAuthor">
        Par {{ recommendation.author }}, le {{ recommendation.date | date }}
      </p>
      <!-- <button (click)="updateRecommendation(recommendation)">Modifier</button> -->
      <button (click)="deleteRecommendation(recommendation.id)">
        Supprimer
      </button>
    </div>
  </div>

  <div class="column">
    <h3>Séries</h3>
    <div class="element" *ngFor="let recommendation of tvShows">
      <p id="elementTitle">{{ recommendation.name }}</p>
      <p>{{ recommendation.description }}</p>
      <p id="dateAndAuthor">
        Par {{ recommendation.author }}, le {{ recommendation.date | date }}
      </p>
      <!-- <button (click)="updateRecommendation(recommendation)">Modifier</button> -->
      <button (click)="deleteRecommendation(recommendation.id)">
        Supprimer
      </button>
    </div>
  </div>

  <div class="column">
    <h3>Jeux Vidéos</h3>
    <div class="element" *ngFor="let recommendation of videoGames">
      <p id="elementTitle">{{ recommendation.name }}</p>
      <p>{{ recommendation.description }}</p>
      <p id="dateAndAuthor">
        Par {{ recommendation.author }}, le {{ recommendation.date | date }}
      </p>
      <!-- <button (click)="updateRecommendation(recommendation)">Modifier</button> -->
      <button (click)="deleteRecommendation(recommendation.id)">
        Supprimer
      </button>
    </div>
  </div>

  <div class="column">
    <h3>Livres</h3>
    <div class="element" *ngFor="let recommendation of books">
      <p id="elementTitle">{{ recommendation.name }}</p>
      <p>{{ recommendation.description }}</p>
      <p id="dateAndAuthor">
        Par {{ recommendation.author }}, le {{ recommendation.date | date }}
      </p>
      <!-- <button (click)="updateRecommendation(recommendation)">Modifier</button> -->
      <button (click)="deleteRecommendation(recommendation.id)">
        Supprimer
      </button>
    </div>
  </div>

  <div class="column">
    <h3>Musiques</h3>
    <div class="element" *ngFor="let recommendation of music">
      <p id="elementTitle">{{ recommendation.name }}</p>
      <p>
        <a href="{{ recommendation.description }}">{{
          recommendation.description
        }}</a>
      </p>
      <p id="dateAndAuthor">
        Par {{ recommendation.author }}, le {{ recommendation.date | date }}
      </p>
      <!-- <button (click)="updateRecommendation(recommendation)">Modifier</button> -->
      <button (click)="deleteRecommendation(recommendation.id)">
        Supprimer
      </button>
    </div>
  </div>

  <div class="column">
    <h3>Vidéos YouTube</h3>
    <div class="element" *ngFor="let recommendation of youtubeVideos">
      <p id="elementTitle">{{ recommendation.name }}</p>
      <p>{{ recommendation.description }}</p>
      <p id="dateAndAuthor">
        Par {{ recommendation.author }}, le {{ recommendation.date | date }}
      </p>
      <!-- <button (click)="updateRecommendation(recommendation)">Modifier</button> -->
      <button (click)="deleteRecommendation(recommendation.id)">
        Supprimer
      </button>
    </div>
  </div>
</div>

<button id="showFormButton" (click)="toggleForm()">
  Ajouter une recommandation
</button>

<form
  id="addForm"
  (ngSubmit)="addRecommendation()"
  [style.display]="showForm ? 'block' : 'none'"
>
  <h2>Qu'est ce que tu as vu, ou lu de bien ?</h2>
  <select [(ngModel)]="newRecommendation.category" name="category">
    <option value="Movie">Film</option>
    <option value="TVshow">Série TV</option>
    <option value="VideoGame">Jeu Vidéo</option>
    <option value="Book">Livre</option>
    <option value="Music">Musique</option>
    <option value="YoutubeVideo">Vidéo YouTube</option>
  </select>
  <input
    type="text"
    [(ngModel)]="newRecommendation.name"
    name="name"
    placeholder="Nom"
  />
  <input
    type="text"
    [(ngModel)]="newRecommendation.description"
    name="description"
    placeholder="Description"
  />
  <input
    type="text"
    [(ngModel)]="newRecommendation.author"
    name="author"
    placeholder="Auteur"
  />
  <button type="submit">Ajouter</button>
</form>

<!-- <button (click)="addRecommendation()">Ajouter une recommandation</button> -->
<router-outlet></router-outlet>
