p {
  overflow-wrap: break-word;
}

.element {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
  display: inline-block;
  border-radius: 3px;
}

.element:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.columns-container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

#dateAndAuthor {
  font-style: italic;
  font-size: small;
}

#elementTitle {
  font-size: large;
}

input[type="submit"],
button,
[aria-label] {
  cursor: pointer;
}
input[type="text"],
input[type="password"],
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"],
#showFormButton,
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  margin: 5%;
}

form {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
  background-color: #555;
}

/* #addForm {
    display: none;
  } */
